<form action="/cadastro_auth" method="post">
  <label for="Email">Email</label>
      <input type="text" name="nome" id="nome" placeholder="Insira seu nome">
      <input type="email" name="email" id="email" placeholder="Insira seu email">
      <input type="password" name="senha" id="senha" placeholder="Insira sua senha">
      <br>
      <p>Você é</p>
      <label for="user">Usuário</label>
      <input type="radio" name="is_admin" id="is_admin" value="0">
      <label for="user">Autor</label>
      <input type="radio" name="is_admin" id="is_admin" value="1">
      <input type="submit" value="Enviar">
</form>