<header>
    <h1>The News</h1>
  </header>

  <nav id="lista">
    <ul>
      <li><a href="#">Política</a></li>
      <li><a href="#">Economia</a></li>
      <li><a href="#">Esportes</a></li>
      <li><a href="#">Cultura</a></li>
      <li><a href="#">Tecnologia</a></li>
      <button><a href="/login"></a>Entre-Já!</button>
    </ul>
  </nav>

  <section id="noticiass">
    {{#each results}}
    <h2><a href="/noticia/{{this.id}}">{{this.titulo}}</a></h2>
    <h4>{{this.autor}}</h4>
    <p>{{this.conteudo}}</p>
    {{/each}}
  </section>

  <footer>
    <p>&copy; 2024 The News. Todos os direitos reservados.</p>
  </footer>

  <script src="script.js"></script>
