<form action="/login_auth" method="post">
  <label for="Email">Email</label>
      <input type="email" name="email" id="email" placeholder="Insira seu email">
      <input type="password" name="senha" id="senha" placeholder="Insira sua senha">
      <input type="submit" value="Enviar">
</form>